@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-primary-light: #818cf8;
  --color-primary-dark: #4f46e5;
  --color-accent: #f472b6;
  --color-success: #10b981;
  --color-danger: #ef4444;
}
